<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Logging" type="System.Configuration.NameValueSectionHandler" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<Logging>
		<add key="logger" value="rm.Logging.Log4NetLogger"/>
	</Logging>
	<log4net configSource="AppConfig\log4net.config" />
</configuration>